form{
    margin-left: 10%;
}

.boxx{
    width: 110px;
}

input[type="date"], input[type="number"], input[type="text"], input[type="tel"], input[type="file"], input[type="email"], select{
    height: 30px;
    border-radius: 5px;
}

input[type="submit"]{
    background-color: grey;
    color: black;
    padding: 10px;
    border-radius: 5px;
    width: 10%;
    margin-left: 50%;
}

