body{
	margin: 0;
	padding: 0;
	background-color:grey;
}

.main_header{
	height:50px;
	background: radial-gradient(circle, white, rgb(223, 196, 196));
}

.main_header a{
	float: right;
	text-decoration:none;
	color:maroon;
	padding: 15px;
}

.main_header a:active, .main_header a:hover{
	text-decoration: underline;
}

.main_header img{
	margin-left:100px;
}

.container{
	width: 70%;
	background-color:white;
	color: rgb(100, 42, 42);
	margin-left: 12%;
	padding:50px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.name{
	font-size:50px;
	font-weight:bold;
}

.box1{
	display:flex;
}

.box2{
	position:relative;
	color:black;
}

.box3{
	position:absolute;
	bottom:70px;
	right:30px;
	background-color:rgba(255,255,255,0.6);
	padding:10px;
}

.box4{
	position:relative;
	color:black;
}

.box5{
	position:absolute;
	bottom:20px;
	text-align:center;
	background-color:rgba(255,255,255,0.6);
}

.gifts_images{
	display:flex;
}

.gifts{
	margin-right:40px;
	height: 450px;
	width: 25%;
}

.tags a {
	float: right;
	position: relative;
	width: auto;
	height: 30px;
	margin-left: 20px;
	padding: 0 12px;
	line-height: 30px;
	background: maroon;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;		
}

.tags a:before {
	content: "";
	position: absolute;
	top: 0;		
	width: 0;
	height: 0;		
	border-style: solid;		
}

.tags a:after {
	content: "";
	position: absolute;
	top: 13px;
	width: 4px;
	height: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
	-moz-box-shadow: -1px -1px 2px marron;
	-webkit-box-shadow: -1px -1px 2px marron;
	box-shadow: -1px -1px 2px marron;
}

* Add rounded corners to right end of the anchor tag */
.price-tag a {		
		-moz-border-radius-bottomright: 4px;
		-webkit-border-bottom-right-radius: 4px;
		border-bottom-right-radius: 4px;
		-moz-border-radius-topright: 4px;
		-webkit-border-top-right-radius: 4px;
		border-top-right-radius: 4px;
	}
 
/* Position left and show only right border of triangle  */
.price-tag a:before {		
		left: -15px;	
		border-color: transparent #701018 transparent transparent;
		border-width: 15px 15px 15px 0;
	}
 
/* Fix the circle between anchor box and triangle left to it  */	
	.price-tag a:after {		
		left: -2px;
	}

/* .tag{
	padding: 10px;
	font-size: 18px;
	border-radius:0 5px 5px 0;
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	position: relative;
	font-family: verdana;
	color: black;
	border: 1px solid pink;
	border-left: 0;
	background: linear-gradient(top, #83de8f 0%,#3a8c49 100%);
}

.tag:after{
	content: "";
	width: 30px;
	height: 31px;
	background: linear-gradient(top, #83de8f 0%,#3a8c49 100%);
	transform: rotate(45deg);
	display: block;
	position: absolute;
	top: 5px;
	left: -15px;
	z-index: -1;
	border: 1px solid pink;
}

.tag:before{
	content: "";
	width: 10px;
	height: 10px;
	background: #fff;
	transform: rotate(45deg);
	position: absolute;
	top: 18px;
	left: -7px;
	border-radius: 5px;
	z-index: -1;
	border: 1px solid pink;
} */